.card{
    background-color: transparent;
    width: 250px;
    color: white;
     position: absolute;
     top:13%;
     left: 40%;
}
#ring{
    width: 350px;
}

#img{
    transform: translate(80%,20%);
}